* {
    font: 14px sans-serif;
    margin: 0px;
    padding: 0px;
    outline: none;
    text-decoration: none;
    list-style: none;
}

html{
    scroll-behavior: smooth; /*When users click on any the href, the page will smoothly scroll to the corresponding location*/
}

body {
    margin-top: 900px;
    margin: 0;
    padding: 0;
    background-image: url("https://images.pexels.com/photos/8613170/pexels-photo-8613170.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-size: contain;
    background-repeat: no-repeat;
}
/*header----------------------------------------*/
header {
    background-color: rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin-bottom: 400px;
}

header img{
    padding-left: 30px;
}

header nav {
    float: right;
    padding-right: 15px;
}

header a {
    color: #ffffff;
    display: inline-block;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 30px;
    transition: color 0.3s;
    font-size: 20px;
}

header a:hover {
    color: #000000;
}
/*welcome section------------------------------------------*/
.welcome{
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 450px;
}

.welcome h1{
    text-align: center;
    margin-top: -290px;
    margin-left: 80px;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.572);
    font-family: 'Inter', sans-serif;
}
/*main------------------------------------------*/
main {
    margin-top: 771px;
    background-color: #ffffff;
    margin-bottom: -80px;
}

.events h1 {
    font-size: 26px;
    padding: 60px 300px 40px 39.6%;
}

.events ul{
    margin: auto;
}

.events li {
    background-color: #ffffff;
    display: inline-block;
    width: 200px;
    height: 330px;
    border: 1px solid rgb(186, 186, 186);
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 30px;
    text-align: center;
    transition: box-shadow 0.3s, transform 0.5s; 
    margin-left: 18px;
}

.events li:hover {
    box-shadow: 0px 0px 10px rgb(37, 37, 37);
    transform: translate(0, -20px);
}

.events img {
    width: 100%;
    height: 88%;
    border-radius: 10px 10px 0px 0px;
}

.events p{
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.88);
    font-family: 'Kavoon', cursive;
    padding: 10px;
    border-radius: 0px 0px 10px 10px;
    margin-top: -3px;
}

.events li:nth-child(1){
    margin-left: 10%;
}

.events li:nth-child(5){
    margin-right: 10%;
}

.events .description-event{
    font-weight: bold;
    border-radius: 5px;
    color: #000000;
    background-color: #fff;
    padding-left: 0px;
    width: 1185px;
    margin-left: 10%;
    font-family: 'Inter', sans-serif;
}

.description-event {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  li:hover ~ .description-event {
    visibility: visible;
    opacity: 1;
  }
  
.events #button-register{
    margin: 50px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    margin-left: 44.4%;
    text-align: center;
    padding: 10px 40px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.88);
    border-radius: 8.5px;
    border: 2px solid #000000;
    transition: box-shadow 0.27s, border-color 0.27s;
}

.events #button-register:hover{
    box-shadow: 0px 0px 15px rgb(37, 37, 37);
    border-color: #ffffff;
}

/*footer----------------------------------------*/
footer {
    background-color: rgba(0, 0, 0, 0.88);
    color: #fff;
    margin-top: 80px;
}

footer h1 {
    font-size: 30px;
    padding-top: 30px;
    padding-left: 90px;
    height: 0px;
    width: 200px;
}

footer .presentation {
    font-size: 14px;
    text-align: justify;
    margin-top: 100px;
    padding-left: 90px;
    line-height: 2.2;
    max-width: 35%;
    float: left;
}

footer iframe {
    border: 1px solid #ccc;
    border-radius: 10px;
    max-width: 45%;
    height: 400px;
    margin: 38px 90px 38px 20px;
    margin-bottom: 0px;
    float: right;
}

footer #copyright {
    clear: both; /*This is basically to make an element to start on a new line, beneath any floating elements*/
    text-align: center;
    font-size: 12px;
    padding: 30px 20px;
    padding-top: 50px;
}

/****************************Register page*****************************/
/*registration section----------------------------------------*/
.registration{
    height: 600px;
    overflow: hidden;
    margin-bottom: 150px;
}

.registration h1{
    text-align: center;
    font-size: 35px;
    padding: 40px;
}

.registration input[type="text"],
.registration textarea,
.registration #events{
    padding: 5px;
    margin: 10px;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.88);
    resize: none;
}

.registration select{
    width: 39%;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.88);
    border-radius: 10px;
}

.registration form{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: auto;
    width: 35%;
    border: 1px solid rgba(0, 0, 0, 0.88);
    border-radius: 10px;
}

.registration textarea{
    height: 150px;
    resize: none;
}

.registration input[type="submit"]{
    width: 20%;
    padding: 5px 30px;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.88);
    border-radius: 10px;
    border: 2px solid #000000;
    transition: box-shadow 0.27s, border-color 0.27s;
    text-align: center;
}

.registration input[type="submit"]:hover{
    box-shadow: 0px 0px 15px rgb(37, 37, 37);
    border-color: #ffffff;
}

/*opening-hours section----------------------------------------*/
.opening-hours {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    margin: 30px auto; 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
    width: 300px;
    text-align: center; 
}

.opening-hours h2 {
    font-family: 'Kavoon', cursive;
    text-align: center;
    color: #333;
    margin-bottom: 15px;
}

.opening-hours ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.opening-hours ul li {
    margin: 5px 0;
    font-size: 18px;
    color: #555;
    font-weight: bold;
}
